@charset "utf-8";

.gh2 {font-size: 44px; padding-top: 55px; padding-bottom: 55px; font-weight: 600; text-align: center;}

/*본관이전 - 관내*/
.lnb-box, .ihs-outer {float: left;}
.lnb-box {width: 274px;}
.ihs-outer {width: 790px; margin-left: 36px;}
.lnb li a {display: block; padding-left: 20px; padding: 16px 0 16px 20px; line-height: 1.3em; width: 100%; background: #ebebeb; font-size: 18px; border: 1px solid #bfbfbf; border-bottom: 0;}
.lnb li.last a {border-bottom: 1px solid #bfbfbf;}
.lnb li.on a {background: #fff; color: #e9a105; border-color: #e9a105; border-bottom: 1px solid #e9a105;}
.lnb li.on + li a {border-top: 0;}

.in-house-sec, .est-reg-sec {width: 1100px; margin: 0 auto;}
.ihs-box {width: 100%; border-top: 1px solid #bfbfbf;}

.in-house-sec .ihs-box {padding: 35px 0 35px 35px;}
.in-house-sec .ihs-box.nth-1 {}
.in-house-sec .ihs-box.nth-1 > h3 {font-size: 30px; margin-bottom: 40px; font-weight: 500;}
.in-house-sec .ihs-box.nth-1 > h3 span {display: block; font-size: 16px; margin-top: 10px; line-height: 1.3em;}
.in-house-sec .ih-prc-box {width: 720px; height: 404px; border: 1px solid #d2d2d2; margin-bottom: 30px;}
.in-house-sec .ihs-box.nth-1 .ihpb-u1 {position: relative;}
.in-house-sec .ihs-box.nth-1 .ihpb-l {float: left; width: 50%;}
.in-house-sec .ihs-box.nth-1 .ihpb-l h4 {height: 50px; text-align: center; color: #fff; background: #5F5F5F; font-size: 18px; line-height: 2.8em; letter-spacing: 0; margin-bottom: 16px;} 
.in-house-sec .ihs-box.nth-1 .ihpb-l.nth-1 {border-right: 1px solid #d2d2d2;}
.in-house-sec .ihs-box.nth-1 .ihpb-l div {padding: 10px 45px}
.in-house-sec .ihs-box.nth-1 .ihpb-l div p {font-size: 18px; line-height: 1.2em;}
.in-house-sec .ihs-box.nth-1 .ihpb-l div.last {padding-bottom: 22px;}
.in-house-sec .ihs-box.nth-1 .ihpb-p1 {text-align: center; padding-top: 25px; margin: 0 30px; border-top: 1px solid #d2d2d2; font-size: 26px;}
.in-house-sec .ihs-box.nth-1 .ihpb-p1 em {margin-left: 30px;}
.in-house-sec .ihs-box.nth-1 .ih-p1 {font-size: 22px; margin-bottom: 35px;}
.in-house-sec .ihs-box.nth-1 .ih-pwrap {}
.in-house-sec .ihs-box.nth-1 .ih-pwrap .btn {display: block; position: relative; left: -17.5px; width: 348px; height: 57px; font-size: 24px; font-weight: 500; line-height: 2.35em; margin: 0 auto; margin-bottom: 40px;}
.in-house-sec .ihs-box.nth-1 .ih-p2 {position: relative; padding-left: 10px; line-height: 1.35em; margin-top: 5px; color: #626262;}
.in-house-sec .ihs-box.nth-1 .ih-p2:before {position: absolute; left: 0; top: 0; display: inline-block; content: "·";}

.in-house-sec .ihs-box.nth-2 {}
.in-house-sec .ihs-box.nth-2 h4 {font-size: 22px;}
.in-house-sec .ihs-box.nth-2 h4 span {display: block; color: #626262; font-size: 16px; margin-top: 6px;}
.in-house-sec .ihs-box.nth-2 .ih-p1 {margin-top: 30px; font-size: 20px;}
.in-house-sec .ihs-box.nth-2 .ih-p2 {display: inline-block; font-size: 18px; text-align: center; background: #dcdcdc; margin-top: 10px; padding: 5px 15px;}

.in-house-sec .ihs-box.nth-3 {border-bottom: 1px solid #bfbfbf; margin-bottom: 100px;}
.in-house-sec .ihs-box.nth-3 h4 {font-size: 22px; margin-bottom: 30px;}
.in-house-sec .ihs-box.nth-3 h4 span {display: block; color: #626262; font-size: 16px; margin-top: 6px;}
.in-house-sec .ihs-box.nth-3 .ih-p1 {position: relative; font-size: 18px; margin-top: 5px; line-height: 1.3em; padding-left: 17px;}
.in-house-sec .ihs-box.nth-3 .ih-p1 span {position: absolute; left: 0;}

/*설립등기 - 관내 공통부분 복사*/
.est-reg-sec .ihs-box {padding: 35px 0 35px 35px;}
.est-reg-sec .ihs-box.nth-1 {}
.est-reg-sec .ihs-box.nth-1 > h3 {font-size: 30px; margin-bottom: 40px; font-weight: 500;}
.est-reg-sec .ihs-box.nth-1 > h3 span {display: block; font-size: 16px; margin-top: 10px; line-height: 1.3em;}
.est-reg-sec .ih-prc-box {width: 720px; height: 404px; border: 1px solid #d2d2d2; margin-bottom: 30px;}
.est-reg-sec .ihs-box.nth-1 .ihpb-u1 {position: relative;}
.est-reg-sec .ihs-box.nth-1 .ihpb-l {float: left; width: 50%;}
.est-reg-sec .ihs-box.nth-1 .ihpb-l h4 {height: 50px; text-align: center; color: #fff; background: #5F5F5F; font-size: 18px; line-height: 2.8em; letter-spacing: 0; margin-bottom: 16px;} 
.est-reg-sec .ihs-box.nth-1 .ihpb-l.nth-1 {border-right: 1px solid #d2d2d2;}
.est-reg-sec .ihs-box.nth-1 .ihpb-l div {padding: 10px 45px}
.est-reg-sec .ihs-box.nth-1 .ihpb-l div p {font-size: 18px; line-height: 1.2em;}
.est-reg-sec .ihs-box.nth-1 .ihpb-l div.last {padding-bottom: 22px;}
.est-reg-sec .ihs-box.nth-1 .ihpb-p1 {text-align: center; padding-top: 25px; margin: 0 30px; border-top: 1px solid #d2d2d2; font-size: 26px;}
.est-reg-sec .ihs-box.nth-1 .ihpb-p1 em {margin-left: 30px;}
.est-reg-sec .ihs-box.nth-1 .ih-p1 {font-size: 22px; margin-bottom: 35px;}
.est-reg-sec .ihs-box.nth-1 .ih-pwrap {}
.est-reg-sec .ihs-box.nth-1 .ih-pwrap .btn {display: block; position: relative; left: -17.5px; width: 348px; height: 57px; font-size: 24px; font-weight: 500; line-height: 2.35em; margin: 0 auto; margin-bottom: 40px;}
.est-reg-sec .ihs-box.nth-1 .ih-p2 {position: relative; padding-left: 10px; line-height: 1.35em; margin-top: 5px; color: #626262;}
.est-reg-sec .ihs-box.nth-1 .ih-p2:before {position: absolute; left: 0; top: 0; display: inline-block; content: "·";}

.est-reg-sec .ihs-box.nth-2 {}
.est-reg-sec .ihs-box.nth-2 h4 {font-size: 22px;}
.est-reg-sec .ihs-box.nth-2 h4 span {display: block; color: #626262; font-size: 16px; margin-top: 6px;}
.est-reg-sec .ihs-box.nth-2 .ih-p1 {margin-top: 30px; font-size: 20px;}
.est-reg-sec .ihs-box.nth-2 .ih-p2 {display: inline-block; font-size: 18px; text-align: center; background: #dcdcdc; margin-top: 10px; padding: 5px 15px;}

.est-reg-sec .ihs-box.nth-3 {border-bottom: 1px solid #bfbfbf; margin-bottom: 100px;}
.est-reg-sec .ihs-box.nth-3 h4 {font-size: 22px; margin-bottom: 30px;}
.est-reg-sec .ihs-box.nth-3 h4 span {display: block; color: #626262; font-size: 16px; margin-top: 6px;}
.est-reg-sec .ihs-box.nth-3 .ih-p1 {position: relative; font-size: 18px; margin-top: 5px; line-height: 1.3em; padding-left: 17px;}
.est-reg-sec .ihs-box.nth-3 .ih-p1 span {position: absolute; left: 0;}

/*설립등기 추가*/
.est-reg-sec .ihs-box.nth-1 > h4 {font-size: 22px; margin-bottom: 20px; margin-top: 30px;}
.ers-p1 .f-semibold, .ers-p1 .txt-box {vertical-align: middle;}
.ers-p1, .ers-p2 {padding-left: 5px;}
.ers-p1 {margin-bottom: 12px;}
.ers-p1 .txt-box {width: 266px; font-size: 16px;}
.ers-p2 {margin-bottom: 20px;}
.ers-p2 .f-semibold, .ers-p2 .chk-box, .ers-p2 .chk-box + span {vertical-align: middle;}
.ers-p1 .f-semibold, .ers-p2 .f-semibold {display: inline-block; width: 140px; font-size: 20px;}
.ers-p2 .chk-box {position: relative; top: 1px; margin-left: -2px; margin-right: 5px; cursor: pointer;}
.ers-p3 {padding-left: 145px; margin-bottom: 30px;}
.ers-p4 {margin-bottom: 50px;}
.ers-p4 .btn {position: relative; display: block; left: 185px; width: 348px; height: 57px; font-size: 24px; font-weight: 500; line-height: 2.4em;}
.est-reg-sec .ihs-box.nth-1 .ih-p2 > span.s1 {font-weight: 500;}
.est-reg-sec .ihs-box.nth-2 .ih-p2.ml {margin-left: 8px;}
#ers-prc-box {display: none; margin-top: -30px; margin-bottom: 50px;}