@charset "utf-8";

.gh2 {font-size: 44px; padding-top: 46px; padding-bottom: 20px; font-weight: 600; text-align: center;}
.gp1 {text-align: center; font-size: 20px; line-height: 1.3em; margin-bottom: 22px;}
.gp2 {width: 1100px; margin: 0 auto; text-align: right; margin-bottom: 8px;}

.apply-sec .txt-box {font-size: 16px;}
.apply-sec .txt-box.type-01 {width: 245px;}
.apply-sec .txt-box.type-02 {width: 614px;}
.apply-sec .txt-box.type-03 {width: 556px; position: relative; top: 2px; margin-left: 6px;}
.apply-sec .txt-box.type-04 {width: 160px;}
.apply-sec .txt-box.type-05 {width: 75px;}

.apply-sec {width: 1100px; margin: 0 auto; border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; margin-bottom: 20px;}
.apply-sec .outer {padding: 30px 0px; border-top: 1px solid #ccc;}
.apply-sec .outer:first-child {border-top: 0;}
.apply-sec .tit-box, .apply-sec .con-box, .apply-sec .th, .apply-sec .td {float: left;}
.apply-sec .tit-box {width: 210px;}
.apply-sec .tit-box h3 {font-size: 30px; font-weight: 500;}
.apply-sec .tit-box h3 .sm {font-size: 18px;}
.apply-sec .row {margin-top: 10px;}
.apply-sec .row:first-child {margin-top: 0;}
.apply-sec .th {width: 149px; font-size: 20px; line-height: 1.2em;}
.apply-sec .th.lh {line-height: 1.5em;}
.apply-sec .td {width: auto;}
.apply-sec .td div {margin-bottom: 10px;}
.apply-sec .td p {display: inline-block;}
.apply-sec .td p.nth-1 {width: 50%;}
.apply-sec .td label {cursor: pointer;}
.apply-sec .chk-box {top: 1px; margin-left: -2px; margin-right: 4px; cursor: pointer;}
.apply-sec .chk-box:before {width: 10px; height: 10px;}
.apply-sec .th .ps, .apply-sec .td .ps {position: relative; display: block; font-size: 14px; color: #808080;}
.apply-sec .th .ps {top: -2px;}
.apply-sec .td .ps {margin-top: 8px; margin-bottom: 5px;}

.gp3 {text-align: center;}
.gp3 .btn {position: relative; top: 2px; color: #808080; font-size: 13px; padding: 0px 6px 1px; border: 1px solid #bfbfbf; margin-left: 5px;}
.gp3 .btn span {font-family: "Nanum Gothic"; font-size: 10px; position: relative; top: -2.5px; margin-left: 3px;}
.gp3 .chk-box {position: relative; top: 1px; margin-right: 4px;}
.gp3 .chk-box + label {cursor: pointer;}
.gp3 .chk-box.ml {margin-left: 30px;}

.gp4 {margin-top: 60px; margin-bottom: 85px;}
.gp4 .btn {display: block; margin: 0 auto; width: 356px; height: 67px; color: #fff; font-size: 30px; text-align: center; font-weight: 600; line-height: 2.25em;}

.layer-pop .pop-area .pop-tit {display:inline-block; margin-bottom:20px; color:#000; font-weight: 500; font-size: 28px;}
.layer-pop .pop-area .pop-txt {color:#595959; font-size:18px; line-height: 1.3em;}
.layer-pop .pop-area .pop-txt:after {content: ""; display: block; width: 43px; height: 1px; background: #a8a8a8; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;}
.layer-pop .pop-area .pop-txt2 {font-size: 20px; margin-bottom: 30px;}
.layer-pop .pop-area .btn-wrap .btn {display: block; width: 400px; height: 54px; color: #fff; font-size: 26px; font-weight: 600; line-height: 2em; letter-spacing: 0;}