<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="../../../src/css/common.css">
  <link rel="stylesheet" href="../../../src/css/registration/charge/charge.css"> 
  
  <script src="../../../src/js/jquery-1.10.2.min.js"></script>
  <script src="../../../src/js/common.js"></script>
  <script src="../../../src/js/registration/charge/charge.js"></script>
   
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <!-- 헤더 영역 -->
    <header class="header">
      <div class="header-box center-block">
        <ul class="hb-tab clearfix">
          <li class=""><a href="./index_01.html">지급명령</a></li>
          <li class="on"><a href="./index_02.html">법인등기</a></li>
        </ul>
        <ul class="hb-user clearfix">
          <li><a href="#">로그인</a></li>
          <li class="mlr"></li>
          <li><a href="#">회원가입</a></li>
          <li class="mlr"></li>
          <li><a href="#">마이페이지</a></li>
        </ul>
      </div>
    </header>
    
    
    <!--지급명령 시작-->
    <!--네비게이션 영역-->
    <div class="top-wrap">
      <div class="top-box center-block">
        <h2><a href="./index.html">법인등기 헬프미</a></h2>
        <nav>
          <ul class="tb-nav clearfix">
            <li><a href="">왜 이렇게 저렴한가요?</a></li>
            <li><a href="">절차안내</a></li>
            <li class="on"><a href="">이용요금</a></li>
            <li><a href="">이용후기</a></li>
            <li><a href="">변호사 소개</a></li>
            <li class="btn-wrap"><a class="align-center" href="">법인등기 신청하기</a></li>
          </ul>
        </nav>
      </div>
    </div>

        
    <h2 class="gh2">이용요금</h2>
    <section class="in-house-sec">
      <nav class="lnb-box">
        <ul class="lnb" id="lnb">
          <li class="on"><a href="">본점이전 - 관내</a></li>
          <li class=""><a href="">본점이전 - 관외</a></li>
          <li class=""><a href="">설립등기</a></li>
          <li class=""><a href="">신주발행</a></li>
          <li class=""><a href="">임원, 지배인 변경</a></li>
          <li class=""><a href="">대표이사 주소변경</a></li>
          <li class=""><a href="">상호/목적/공고방법 변경</a></li>
          <li class=""><a href="">주식매수선택권의 신설, 변경</a></li>
          <li class=""><a href="">지점설치</a></li>
          <li class=""><a href="">지점이전/폐지</a></li>
          <li class=""><a href="">우선주, 전환사채, <br>전환상환우선주 등의 신설,변경</a></li>
          <li class=""><a href="">발행할 예정주식수 변경</a></li>
          <li class=""><a href="">1주의 금액 변경</a></li>
          <li class=""><a href="">회사계속 등기</a></li>
          <li class=""><a href="">정관변경</a></li>
          <li class="last"><a href="">자본감소(준비중)</a></li>
        </ul>
      </nav>
      <div class="ihs-outer">
        <div class="ihs-box nth-1">
          <h3>본점이전 - 관내<span>같은 권역에서 이동하는 것을 말함. 크게 서울, 서울 외 과밀억제구역, 그 밖의  지역으로 구별</span></h3>
          
          <div class="ih-prc-box">
            <ul class="ihpb-u1 clearfix">
              <li class="ihpb-l nth-1">
                <h4>공과금(국가 또는 공증인에게 내는 돈)</h4>
                <div class="clearfix">
                  <p class="pull-left">등록세</p>
                  <p class="pull-right">30,000</p>
                </div>
                <div class="clearfix">
                  <p class="pull-left">교육세</p>
                  <p class="pull-right">22,500</p>
                </div>
                <div class="clearfix">
                  <p class="pull-left">법원 수수료(증지)</p>
                  <p class="pull-right">2,000</p>
                </div>
                <div class="clearfix">
                  <p class="pull-left">공증료</p>
                  <p class="pull-right">없음</p>
                </div>
                <div class="clearfix">
                  <p class="pull-left">전자증명서</p>
                  <p class="pull-right">15,000</p>
                </div>
                <div class="clearfix last">
                  <p class="pull-left">소계</p>
                  <p class="pull-right">152,000</p>
                </div>
              </li>
              <li class="ihpb-l nth-2">
                <h4>헬프미 수수료(오픈 특가)</h4>
                <div class="clearfix">
                  <p class="pull-left">기본 수수료</p>
                  <p class="pull-right">129,000</p>
                </div>
                <div class="clearfix">
                  <p class="pull-left">교통비, 일당</p>
                  <p class="pull-right">없음</p>
                </div>
                <div class="clearfix">
                  <p class="pull-left">제증명, 임감</p>
                  <p class="pull-right">없음</p>
                </div>
                <div class="clearfix">
                  <p class="pull-left">기타 부대비용</p>
                  <p class="pull-right">없음</p>
                </div>
                <div class="clearfix">
                  <p class="pull-left">부가가치세</p>
                  <p class="pull-right">12,900</p>
                </div>
                <div class="clearfix last">
                  <p class="pull-left">소계</p>
                  <p class="pull-right">141,900</p>
                </div>
              </li>
            </ul>
            <p class="ihpb-p1">총 합계 <em>293,900원</em></p>
          </div>
          
          <p class="ih-p1">등기는 헬프미 변호사에게 맡기고 사업에 전념하세요! 꼼꼼하게 챙겨드립니다.</p>
          <p class="ih-pwrap">
            <a href="" class="btn align-center c-white bg-yellow">법인등기 신청하기</a>
          </p>
          <p class="ih-p2">특수한 경우(외국인이 주주 또는 임원인 경우, 법원절차가 필요한 경우 등)에는<br>추가 비용이 발생할 수 있으니 문의 주시기 바랍니다.</p>
          <p class="ih-p2">위 견적은 전자등기 견적으로서, 전자등기를 하지 않는다면 추가 비용이 발생할 수 있습니다.</p>
          <p class="ih-p2">2개 이상의 등기를 동시에 신청하는 경우, 추가 수수료가 있습니다.</p>
          <p class="ih-p2">공증이 필요한 경우 공증업체를 통해 별도로 진행됩니다.</p>
        </div>
        <div class="ihs-box nth-2">
          <h4>본점이전 - 관내 필요서류(전자등기) <span>(회사 규모와 자본금에 따라 전자등기가 불가능할 수 있습니다.)</span></h4>
          <p class="ih-p1">필요서류</p>
          <p class="ih-p2">없음</p>
          <p class="ih-p1 nth-2">준비물</p>
          <p class="ih-p2">법인인감도장</p>
        </div>
        <div class="ihs-box nth-3">
          <h4>본점이전 - 관내 절차(전자등기) <span>(전자등기가 불가능한 경우, 일반등기로 진행되며 절차가 달라질 수 있습니다.)</span></h4>
          <p class="ih-p1"><span>1.</span>홈페이지에서 등기신청을 해주시면, 저희가 등기부등본을 발급받은 후, 전화를 드립니다.</p>
          <p class="ih-p1"><span>2.</span>전화통화 후, 이메일로 견적서를 보내드리고, 결제완료 후 이메일로 필수정보를 입력할<br> 질문지 링크를 보내드립니다.</p>
          <p class="ih-p1"><span>3.</span>링크에 답변을 해주시면, 저희가 나머지 업무를 처리한 다음, 접수처리를 완료합니다.</p>
        </div>
      </div>
    </section>
    
    
    <!--푸터 영역-->
    <footer class="footer">
      <div class="footer-box clearfix center-block">
        <ul class="clearfix">
          <li><a href="#">면책공고</a></li>
          <li class="mlr"></li>
          <li><a href="#">이용약관</a></li>
          <li class="mlr"></li>
          <li><a href="#">개인정보취급방침</a></li>
        </ul>
        <div class="nth-1">지급명령<br/>헬프미</div>
        <div class="nth-2">
          <address>
            <p>서울특별시 강남구 테헤란로82길 15, 15층(대치동, 디아이타워) (주)헬프미</p>
            <p>대표이사: 박준수<span class="mlr"></span>사업자등록번호 : 220-88-97107</p>
            <p class="last">help@helpme.co.kr<span class="mlr"></span><small>copyright 2015 by helpme, all right reserved.</small></p>
          </address>
        </div>
        <div class="nth-3"><p class="c-yellow nth-1">지급명령<br/>고객센터</p><p class="c-white nth-2">02-6285-5601</p></div>
      </div>
    </footer>
  </div>
</body>

</html>