section[class*="-sec"] > div[class*="-box"] {position: relative; width: 1100px; margin-left: auto; margin-right: auto;}

.gh2 {font-size: 44px; padding-top: 60px; padding-bottom: 75px; font-weight: 600; text-align: center;}


.es-box > h3, .gs-box > h3 {font-size: 30px; margin-bottom: 12px;}
.es-box > h3 span, .gs-box > h3 span {margin-left: 20px; font-size: 16px; color: #8d8d8d; font-family: "NanumBarunGothic", "Nanum Gothic", "Malgun Gothic", sans-serif;}
.es-step-box, .gs-step-box {height: 401px; border: 1px solid #d2d2d2;}
.es-step-box {background: url(../../../img/electro_bg.jpg); margin-bottom: 64px;}
.gs-step-box {background: url(../../../img/general_bg.jpg);}

.electro-sec {}

ul[class*="esb-u1"] {position: absolute; left: 0;}
ul[class*="esb-u1"] li {position: relative; float: left;}
ul[class*="esb-u1"] li h4 {position: relative; font-size: 28px; color: #fff; font-weight: 500;}

.esb-u1-1 {top: 50%; margin-top: -59px;}
.esb-u1-1 li {}
.esb-u1-1 li h4 {top: 9px;}
.esb-u1-2 {bottom: 50%; margin-bottom: -124px;}
.esb-u1-2 li {}
.esb-u1-2 li h4 {top: -4px;}
ul[class*="esb-u1"] {position: absolute; left: 0;}
ul[class*="esb-u1"] li {position: relative; font-weight: 500;}
ul[class*="esb-u1"] li p.nth-1 {font-size: 18px; line-height: 1.25em;}
.esb-u1-1 li.nth-1 {left: 54px;}
.esb-u1-1 li.nth-2 {left: 157px;}
.esb-u1-1 li.nth-3 {left: 312px;}
.esb-u1-1 li.nth-4 {left: 470px;}
.esb-u1-1 li.nth-5 {left: 609px; top:-23px;}
.esb-u1-2 li p.nth-2 {color: #898989; margin-top: 10px;}
.esb-u1-2 li.nth-1 {left: 42.5px;}
.esb-u1-2 li.nth-2 {left: 235px;}
.esb-u1-2 li.nth-3 {left: 370px;}
.esb-u1-2 li.nth-4 {left: 555px;}

.general-sec {margin-bottom: 100px;}

ul[class*="gsb-u1"] {position: absolute; left: 0;}
ul[class*="gsb-u1"] li {float: left;}
ul[class*="gsb-u1"] li h4 {position: relative; font-size: 28px; color: #fff; font-weight: 500;}

.gsb-u1-1 {top: 50%; margin-top: -59px;}
.gsb-u1-1 li {}
.gsb-u1-1 li h4 {top: 9px;}
.gsb-u1-2 {bottom: 50%; margin-bottom: -124px;}
.gsb-u1-2 li {}
.gsb-u1-2 li h4 {top: -4px;}
ul[class*="gsb-u1"] li {position: relative; font-weight: 500;}
ul[class*="gsb-u1"] li p.nth-1 {font-size: 18px; line-height: 1.25em;}
.gsb-u1-1 li.nth-1 {left: 54px;}
.gsb-u1-1 li.nth-2 {left: 115px;}
.gsb-u1-1 li.nth-3 {left: 248px;}
.gsb-u1-1 li.nth-4 {left: 400px;}
.gsb-u1-1 li.nth-5 {left: 532px; top:-23px;}
.gsb-u1-2 li p.nth-2 {color: #898989; margin-top: 10px;}
.gsb-u1-2 li.nth-1 {left: 42.5px;}
.gsb-u1-2 li.nth-2 {left: 171px;}
.gsb-u1-2 li.nth-3 {left: 303px;}
.gsb-u1-2 li.nth-4 {left: 482px;}
.gsb-u1-2 li.nth-5 {left: 628px;}

/*(공통)법인등기페이지 - 간편하게해결*/
.solution2-sec {background: #FEC039; height: 328px;}
section[class*="solution2-sec"] h2, .snc2-box {position: relative; width: 1100px; margin: 0 auto; padding-left: 5px;}
section[class*="solution2-sec"] h2 {width: 1100px; margin: 0px auto; text-align: left; padding-top: 72px; font-size: 42px; font-weight: 500; letter-spacing: 0.7px;}
.snc2-box {padding-top: 40px;}
.snc2b-p1 {font-size: 26px; line-height: 1.2em;}
.snc2b-p2 {font-size: 30px; margin-top: 12px; font-weight: 500;}
.snc2b-p3 {position: absolute; right: 0; top: 10px;}
.snc2b-p3 .btn {display: block; width: 354px; height: 88px; font-size: 30px; font-weight: 600; line-height: 2.9em;}