<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="../../../src/css/common.css">
  <link rel="stylesheet" href="../../../src/css/registration/lawyer/lawyer.css"> 
  
  <script src="../../../src/js/jquery-1.10.2.min.js"></script>
  <script src="../../../src/js/common.js"></script>
   
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <!-- 헤더 영역 -->
    <header class="header">
      <div class="header-box center-block">
        <ul class="hb-tab clearfix">
          <li class=""><a href="./index_01.html">지급명령</a></li>
          <li class="on"><a href="./index_02.html">법인등기</a></li>
        </ul>
        <ul class="hb-user clearfix">
          <li><a href="#">로그인</a></li>
          <li class="mlr"></li>
          <li><a href="#">회원가입</a></li>
          <li class="mlr"></li>
          <li><a href="#">마이페이지</a></li>
        </ul>
      </div>
    </header>
    
    
    <!--지급명령 시작-->
    <!--네비게이션 영역-->
    <div class="top-wrap">
      <div class="top-box center-block">
        <h2><a href="./index.html">법인등기 헬프미</a></h2>
        <nav>
          <ul class="tb-nav clearfix">
            <li><a href="">왜 이렇게 저렴한가요?</a></li>
            <li class=""><a href="">절차안내</a></li>
            <li class=""><a href="">이용요금</a></li>
            <li class=""><a href="">이용후기</a></li>
            <li class="on"><a href="">변호사 소개</a></li>
            <li class="btn-wrap"><a class="align-center" href="">법인등기 신청하기</a></li>
          </ul>
        </nav>
      </div>
    </div>

        
    <h2 class="gh2">변호사 소개</h2>
    <section class="lawyer-sec">
      <p class="ls-p1">
        안녕하세요.<br>
        헬프미 법률사무소 대표 박효연 변호사입니다.
        <span class="mt"></span>
        많은 분들이 법률 서비스를 이용하고자 할 때<br>
        <em>좋은 변호사를 만나기 어려워서, 너무 비싸서, 불편할 뿐만 아니라 불친절해서</em> 어려움을 겪고 있습니다.
        <span class="mt"></span>
        심지어 충분히 권리를 지킬 수 있음에도 불구하고, 큰 돈이 걸린 문제가 아니라서<br>
        조금 손해보는 셈 치고 포기하는 경우도 있습니다.
        <span class="mt"></span>
        저희는 “누구나 쉽게 실력있는 변호사를 만날 수 있어야 한다. 누구나 합리적인 가격에 법률서비스를 이용할 수 있어야한다” 라고 생각했습니다.<br>
        그래서 뜻을 같이 하는 변호사 및 소프트웨어 엔지니어들이 모여서 헬프미 서비스를 만들었습니다.
        <span class="mt"></span>
        회사를 운영하다 보면 법인/상업 등기를 해야 하는 경우가 자주 발생합니다.<br>
        하지만 이렇게 자주 해야 하는 일이지만, 많은 기업들이 매번 만만치 않은 비용을 내고 복잡하고 귀찮은 절차를 거쳐서 법인/상업 등기를 하고 있습니다.
        <span class="mt"></span>
        무엇이 문제일까? 저희는 고민에 고민을 거듭한 끝에, "법인등기 헬프미”  서비스를 만들었습니다.<br>
        IT 기술을 통해 소모적인 단순 업무들을 없애고, 법인등기 종합관리 시스템을 만들었습니다.
      </p>
      <h3>법인등기 헬프미는 이렇게 다릅니다.</h3>
      <p class="ls-p2">
        <strong>1. 비용을 획기적으로 낮추었습니다.</strong>
        기본 수수료도 확실히 저렴하고, 교통비, 일당 등 숨겨진 추가 비용이 없습니다. 평균적으로 다른 사무실의 65% 정도 비용입니다.
        <strong>2. 속칭 "깜깜 무소식 진행"이 없습니다.</strong>
        "내가 맡긴 등기 업무를 제대로 처리하고 있는 것인지? 등기소에 접수는 한 것인지?" 등등 궁금증이 자주 들지만, 고객분들은 하염없이 연락을<br>
        기다려야만 했습니다. 저희는 다릅니다. 고객분들이 궁금하기도 전에 척척 알아서 상황을 안내드립니다.
        <strong>3. 무한 반복 전화통화가 없습니다. </strong>
        법인등기가 간단하지만은 않기 때문에, 준비할 서류도 많고, 고객님들이 알려주셔야 하는 정보도 많습니다. 그래서 법인등기할 때마다 전화통화를<br>
        참 많이 해야 합니다. 하지만 저희는 다릅니다. 두 번 세 번 질문하는 일도 없고, 꼭 필요한 정보를 한 번에 질문하고, 그 후에는 일사천리로 진행합니다.<br>
        <em>헬프미 법률사무소에서는 법률 문제가 생겼을 때 고객들이 가장 먼저 "헬프미"를 떠올릴 수 있도록 항상 처음의 마음으로 최선을 다하겠습니다.</em>
      </p>
    </section>
    
    
    <!--푸터 영역-->
    <footer class="footer">
      <div class="footer-box clearfix center-block">
        <ul class="clearfix">
          <li><a href="#">면책공고</a></li>
          <li class="mlr"></li>
          <li><a href="#">이용약관</a></li>
          <li class="mlr"></li>
          <li><a href="#">개인정보취급방침</a></li>
        </ul>
        <div class="nth-1">지급명령<br/>헬프미</div>
        <div class="nth-2">
          <address>
            <p>서울특별시 강남구 테헤란로82길 15, 15층(대치동, 디아이타워) (주)헬프미</p>
            <p>대표이사: 박준수<span class="mlr"></span>사업자등록번호 : 220-88-97107</p>
            <p class="last">help@helpme.co.kr<span class="mlr"></span><small>copyright 2015 by helpme, all right reserved.</small></p>
          </address>
        </div>
        <div class="nth-3"><p class="c-yellow nth-1">지급명령<br/>고객센터</p><p class="c-white nth-2">02-6285-5601</p></div>
      </div>
    </footer>
  </div>
</body>

</html>