<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="../../../src/css/common.css">
  <link rel="stylesheet" href="../../../src/css/order/test/test.css"> 
  
  <script src="../../../src/js/jquery-1.10.2.min.js"></script>
  <script src="../../../src/js/common.js"></script>
   
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <nav class="test-nav-bar">
      <img src="../../../src/img/nav_test01.png" alt="돈받는방법테스트">
    </nav>
    
    
    <section class="test01-2-sec">
      <h2>돈 받는 방법 테스트</h2>
      <div class="test-box">
        <ul>
          <li class="row nth-1 clearfix">
            <p class="nth-1"></p>
            <p class="nth-2"><span class="yes">네</span><span class="no">아니오<br>몰라요</span></p>
          </li>
          <li class="row nth-2 clearfix">
            <p class="nth-1">상대방(채무자)에게 받을 돈이 있지만, 충분한 재산이 없어서
              <span class="s1">상대방의 가족(부모, 자식, 배우자 등)에게 받으려는 상황인가요?</span>
            </p>
            <p class="nth-2"><input type="radio" class="radio" name="chk01"><input type="radio" class="radio" name="chk01"></p>
          </li>
          <li class="row clearfix">
            <p class="nth-1">상대방(채무자)은 미성년자인가요?</p>
            <p class="nth-2"><input type="radio" class="radio" name="chk02"><input type="radio" class="radio" name="chk02"></p>
          </li>
          <li class="row clearfix">
            <p class="nth-1">상대방(채무자)이 파산선고를 받았나요?</p>
            <p class="nth-2"><input type="radio" class="radio" name="chk03"><input type="radio" class="radio" name="chk03"></p>
          </li>
          <li class="row clearfix">
            <p class="nth-1">상대방(채무자)는 현재 회생절차를 진행하고 있나요?</p>
            <p class="nth-2"><input type="radio" class="radio" name="chk04"><input type="radio" class="radio" name="chk04"></p>
          </li>
        </ul>
        <p class="step-s">
          <span class=""></span>
          <span class=""></span>
          <span class=""></span>
          <span class="on"></span>
        </p>
      </div>
      <p class="btn-wrap"><a href="index_07.html" class="btn c-white bg-yellow">다음</a></p>
    </section>
    
    
  </div>
</body>

</html>