<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="../../../src/css/common.css">
  <link rel="stylesheet" href="../../../src/css/order/test/test.css"> 
  
  <script src="../../../src/js/jquery-1.10.2.min.js"></script>
  <script src="../../../src/js/common.js"></script>
  <script src="../../../src/js/order/test/test.js"></script>
   
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <nav class="test-nav-bar">
      <img src="../../../src/img/nav_test02.png" alt="돈받는방법테스트">
    </nav>
    
    <section class="test02-1-sec">
      <h2>누구한테 돈을 받아야 하나요?</h2>
      
      <div class="outer">
        <p class="nth-1"><span class="c-yellow">&#42;</span> 상대방이 여러 명인 경우에는 신청서를 각각 작성해주세요.</p>
        <ul class="ts2-u1 clearfix" id="choice">
          <li class="nth-1">
            <h3 class="type01">대여</h3>
            <p class="type01 on">채무자, 보증인에게</p>
          </li>
          <li class="nth-2">
            <h3 class="type01">임대차</h3>
            <p class="type02">임대인에게</p>
            <p class="type03">임차인에게</p>
          </li>
          <li class="nth-3">
            <h3 class="type01">공사</h3>
            <p class="type02">공사 업자에게</p>
            <p class="type03">공사 발주자에게</p>
          </li>
          
          <li class="nth-4">
            <h3 class="type01">고용</h3>
            <p class="type01">고용주에게</p>
          </li>
          <li class="nth-5">
            <h3 class="type02">부동산<br>매매</h3>
            <p class="type02">매도인에게</p>
            <p class="type03">매수인에게</p>
          </li>
          <li class="nth-6">
            <h3 class="type01">서비스</h3>
            <p class="type02">서비스 제공자에게</p>
            <p class="type03">소비자에게</p>
          </li>
          <li class="nth-7">
            <h3 class="type01">기타</h3>
            <p class="type01">그 밖의 사람에게</p>
          </li>
          <li class="nth-8">
            <h3 class="type02">물건<br>판매</h3>
            <p class="type02">판매자에게</p>
            <p class="type03">소비자에게</p>
          </li>
          <li class="nth-9">
            <h3 class="type02">외주<br>용역</h3>
            <p class="type02">용역 제공자에게</p>
            <p class="type03">발주처에게</p>
          </li>
        </ul>
        
        
        <h4>분야고르기 TIP</h4>
        <div class="tip-box">
          <div class="th-box">
            <p>서비스</p>
            <p>외주용역</p>
            <p>물건판매</p>
          </div>
          <ul class="txt-u1 clearfix">
            <li>
              <p>과외, 학원강의, 운동교습 등</p>
              <p>자동차수리, 물품수리</p>
              <p>미용, 세탁소</p>
              <p>상담료, 컨설팅, 부동산중계, 경매대행</p>
              <p>렌탈(자동차, 정수기, 사무기기 등)</p>
              <p>병원비, 전문용역(법무사, 세무사 등)</p>
            </li>
            <li>
              <p>외주제작(소프트웨어, 디자인 등)</p>
              <p>광고대행, 물품판매대행</p>
              <p>프리랜서</p>
            </li>
            <li>
              <p>온라인 쇼핑몰</p>
            </li>
          </ul>
        </div>
      </div>
      
      <p class="btn-wrap"><a href="index_01.html" class="btn c-yellow nth-1"><span>&lt;</span>테스트 다시하기</a><a href="index_09.html" class="btn c-white bg-yellow nth-2">지급명령 신청하기<span>&gt;</span></a></p>
    </section>
    
    
  </div>
</body>

</html>