<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="../../../src/css/common.css">
  <link rel="stylesheet" href="../../../src/css/order/test/test.css"> 
  
  <script src="../../../src/js/jquery-1.10.2.min.js"></script>
  <script src="../../../src/js/common.js"></script>
   
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <nav class="test-nav-bar">
      <img src="../../../src/img/nav_test01.png" alt="돈받는방법테스트">
    </nav>
    
    
    <section class="test01-2-sec">
      <h2>돈 받는 방법 테스트</h2>
      <div class="test-box">
        <ul>
          <li class="row nth-1 clearfix">
            <p class="nth-1"></p>
            <p class="nth-2"><span class="yes">네</span><span class="no">아니오<br>몰라요</span></p>
          </li>
          <li class="row nth-2 clearfix">
            <p class="nth-1">상대방(채무자)은 ① 돈을 지급해야 한다는 사실과 ② 지급할 액수를 모두 인정하고 있나요?</p>
            <p class="nth-2"><input type="radio" class="radio" name="chk01"><input type="radio" class="radio" name="chk01"></p>
          </li>
          <li class="row clearfix">
            <p class="nth-1">상대방(채무자)의 이름과 정확한 주소를 알고 계신가요?</p>
            <p class="nth-2"><input type="radio" class="radio" name="chk02"><input type="radio" class="radio" name="chk02"></p>
          </li>
          <li class="row clearfix">
            <p class="nth-1">상대방(채무자)이 충분한 재산을 가지고 있나요?</p>
            <p class="nth-2"><input type="radio" class="radio" name="chk03"><input type="radio" class="radio" name="chk03"></p>
          </li>
          <li class="row clearfix">
            <p class="nth-1">혹시 돈을 받기로 한 날부터 아래의 기간이 지났나요?</p>
            <p class="nth-2"><input type="radio" class="radio" name="chk04"><input type="radio" class="radio" name="chk04"></p>
          </li>
        </ul>
        <p class="caution-p">
          <span>&#8226;</span> 대여금, 임대차보증금 : 10년<br>
          <span>&#8226;</span> 채권자 또는 채무자가 상인인 경우, 대여금, 임대차보증금: 5년<br>
          <span>&#8226;</span> 임금, 퇴직금, 공사대금, 물건 판매대금: 3년<br>
          <span>&#8226;</span> 음식료, 입장료, 연예인의 임금 : 1년<br>
          <span>&#8226;</span> 불법행위를 안 날로부터 3년
        </p>
        <p class="step-s">
          <span class="on"></span>
          <span></span>
          <span></span>
          <span></span>
        </p>
      </div>
      <p class="btn-wrap"><a href="index_03.html" class="btn c-white bg-yellow">다음</a></p>
    </section>
    
  </div>
</body>

</html>