<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->

  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="../../../src/css/common.css">
  <link rel="stylesheet" href="../../../src/css/registration/apply/apply.css"> 

  <script src="../../../src/js/jquery-1.10.2.min.js"></script>
  <script src="../../../src/js/common.js"></script>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <!-- 헤더 영역 -->
    <header class="header">
      <div class="header-box center-block">
        <ul class="hb-tab clearfix">
          <li class=""><a href="./index_01.html">지급명령</a></li>
          <li class="on"><a href="./index_02.html">법인등기</a></li>
        </ul>
        <ul class="hb-user clearfix">
          <li><a href="#">로그인</a></li>
          <li class="mlr"></li>
          <li><a href="#">회원가입</a></li>
          <li class="mlr"></li>
          <li><a href="#">마이페이지</a></li>
        </ul>
      </div>
    </header>


    <!--지급명령 시작-->
    <!--네비게이션 영역-->
    <div class="top-wrap">
      <div class="top-box center-block">
        <h2><a href="./index.html">법인등기 헬프미</a></h2>
        <nav>
          <ul class="tb-nav clearfix">
            <li><a href="">왜 이렇게 저렴한가요?</a></li>
            <li class=""><a href="">절차안내</a></li>
            <li class=""><a href="">이용요금</a></li>
            <li class=""><a href="">이용후기</a></li>
            <li class=""><a href="">변호사 소개</a></li>
            <li class="btn-wrap"><a class="align-center" href="">법인등기 신청하기</a></li>
          </ul>
        </nav>
      </div>
    </div>


    <h2 class="gh2">법인등기 신청하기</h2>
    <p class="gp1">아래 신청서를 작성해 주시면 저희가 2시간 이내에 연락드리도록 하겠습니다.<br/>회사가 2개 이상이라면 신청서를 각각 나누어 작성해 주세요.</p>
    <p class="gp2"><span class="c-red2">&#42;</span> <em>필수입력사항</em></p>
    <section class="apply-sec">
      <div class="outer clearfix">
        <div class="tit-box"><h3>회사 정보<span class="c-red2">&#42;</span></h3></div>
        <div class="con-box">
          <ul class="row">
            <li class="th lh">법인 이름</li>
            <li class="td"><input type="text" class="txt-box type-01"></li>
          </ul>
          <ul class="row">
            <li class="th lh">법인 주소</li>
            <li class="td"><input type="text" class="txt-box type-02"><span class="ps">&#42; 주소변경등기를 하시는 경우, 변경 전 주소를 입력해 주세요.(설립등기시 예정주소)</span></li>
          </ul>
          <ul class="row">
            <li class="th">등기 종류<span class="ps">&#42; 복수선택가능</span> </li>
            <li class="td">
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk01"><label for="chk01">설립등기</label></p>
                <p><input type="checkbox" class="chk-box" id="chk02"><label for="chk02">본점주소이전등기(같은 도시 내 변경)</label></p>
              </div>
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk03"><label for="chk03">대표이사 주소변경등기</label></p>
                <p><input type="checkbox" class="chk-box" id="chk04"><label for="chk04">새로운 임원 취임등기</label></p>
              </div>
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk05"><label for="chk05">우선주, 전환상환우선주 등 규정 신설동기</label></p>
                <p><input type="checkbox" class="chk-box" id="chk06"><label for="chk06">지점 설치, 이전 폐지등기</label></p>
              </div>
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk07"><label for="chk07">목적 변경, 추가 ,삭제등기</label></p>
                <p><input type="checkbox" class="chk-box" id="chk08"><label for="chk08">공고하는 방법 변경등기</label></p>
              </div>
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk09"><label for="chk09">본점주소이전등기(다른 도시로 변경)</label></p>
                <p><input type="checkbox" class="chk-box" id="chk10"><label for="chk10">유상증자등</label></p>
              </div>
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk11"><label for="chk11">기존 임원 중임등기(3년마다 다시 등기)</label></p>
                <p><input type="checkbox" class="chk-box" id="chk12"><label for="chk12">공고하는 방법 변경 등기</label></p>
              </div>
              <div>
                <input type="checkbox" class="chk-box" id="chk13"><label for="chk13">스톡옵션 규정 신설등기</label>
              </div>
              <div>
                <input type="checkbox" class="chk-box" id="chk14"><label for="chk14">기타 : </label><input type="text" class="txt-box type-03 etc">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="outer clearfix">
        <div class="tit-box"><h3>담당자 정보<span class="c-red2">&#42;</span></h3></div>
        <div class="con-box">
          <ul class="row">
            <li class="th lh">담당자 성함</li>
            <li class="td"><input type="text" class="txt-box type-04"></li>
          </ul>
          <ul class="row">
            <li class="th lh">담당자 연락처</li>
            <li class="td"><input type="text" class="txt-box type-05"> - <input type="text" class="txt-box type-05"> - <input type="text" class="txt-box type-05"></li>
          </ul>
          <ul class="row">
            <li class="th lh">담당자 이메일</li>
            <li class="td"><input type="text" class="txt-box type-01"></li>
          </ul>
        </div>
      </div>
      <div class="outer clearfix">
        <div class="tit-box"><h3>부가 정보<span class="sm">(선택)</span></h3></div>
        <div class="con-box">
          <ul class="row">
            <li class="th">헬프미를<br>선택한 이유<span class="ps">&#42; 복수선택가능</span></li>
            <li class="td">
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk21"><label for="chk21">변호사가 진행한다는 점에 믿음이 가서</label></p>
                <p><input type="checkbox" class="chk-box" id="chk22"><label for="chk22">가격이 합리적이어서</label></p>
              </div>
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk23"><label for="chk23">진행절차를 자세히 알려줘서</label></p>
                <p><input type="checkbox" class="chk-box" id="chk24"><label for="chk24">과태료 예방 프로그램이 마음에 들어서</label></p>
              </div>
              <div>
                <p class="nth-1"><input type="checkbox" class="chk-box" id="chk25"><label for="chk25">공인인증서로 처리할 수 있어서</label></p>
                <p><input type="checkbox" class="chk-box" id="chk26"><label for="chk26">인터넷으로만 진행할 수 있어서</label></p>
              </div>
              <div>
                <input type="checkbox" class="chk-box" id="chk27"><label for="chk27">기타 : </label><input type="text" class="txt-box type-03 etc">
              </div>
            </li>
          </ul>
          <ul class="row">
            <li class="th lh">추천인</li>
            <li class="td"><input type="text" class="txt-box type-01"></li>
          </ul>
        </div>
      </div>
    </section>
    <p class="gp3">
      <input type="checkbox" class="chk-box" id="personal"><label for="personal">개인정보 취급방침에 대하여 동의합니다. <span class="c-red2">&#42;</span></label>
      <a href="" class="btn">약관보기<span>&gt;</span></a>
      <input type="checkbox" class="chk-box ml" id="event"><label for="event">할인쿠폰, 이벤트 관련 안내를 받겠습니다.(선택)</label>
      <a href="" class="btn">약관보기<span>&gt;</span></a>
    </p>
    <p class="gp4"><a href="" class="btn bg-yellow">신청하기</a></p>


    <!--푸터 영역-->
    <footer class="footer">
      <div class="footer-box clearfix center-block">
        <ul class="clearfix">
          <li><a href="#">면책공고</a></li>
          <li class="mlr"></li>
          <li><a href="#">이용약관</a></li>
          <li class="mlr"></li>
          <li><a href="#">개인정보취급방침</a></li>
        </ul>
        <div class="nth-1">지급명령<br/>헬프미</div>
        <div class="nth-2">
          <address>
            <p>서울특별시 강남구 테헤란로82길 15, 15층(대치동, 디아이타워) (주)헬프미</p>
            <p>대표이사: 박준수<span class="mlr"></span>사업자등록번호 : 220-88-97107</p>
            <p class="last">help@helpme.co.kr<span class="mlr"></span><small>copyright 2015 by helpme, all right reserved.</small></p>
          </address>
        </div>
        <div class="nth-3"><p class="c-yellow nth-1">지급명령<br/>고객센터</p><p class="c-white nth-2">02-6285-5601</p></div>
      </div>
    </footer>
  </div>
</body>

</html>