<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="../../../src/css/common.css">
  <link rel="stylesheet" href="../../../src/css/order/lawyer/lawyer.css"> 
  
  <script src="../../../src/js/jquery-1.10.2.min.js"></script>
  <script src="../../../src/js/common.js"></script>
   
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <!-- 헤더 영역 -->
    <header class="header">
      <div class="header-box center-block">
        <ul class="hb-tab clearfix">
          <li class="on"><a href="./index_01.html">지급명령</a></li>
          <li><a href="./index_02.html">법인등기</a></li>
        </ul>
        <ul class="hb-user clearfix">
          <li><a href="#">로그인</a></li>
          <li class="mlr"></li>
          <li><a href="#">회원가입</a></li>
          <li class="mlr"></li>
          <li><a href="#">마이페이지</a></li>
        </ul>
      </div>
    </header>
    
    
    <!--지급명령 시작-->
    <!--네비게이션 영역-->
    <div class="top-wrap">
      <div class="top-box center-block">
        <h2><a href="./index.html">지급명령 헬프미</a></h2>
        <nav>
          <ul class="tb-nav clearfix">
            <li class=""><a href="">이용요금</a></li>
            <li class="on"><a href="">변호사 소개</a></li>
            <li class="btn-wrap"><a class="align-center" href="">지급명령 신청하기</a></li>
          </ul>
        </nav>
      </div>
    </div>

        
    <h2 class="gh2">변호사 소개</h2>
    <section class="lawyer-sec">
      <h3>아는 변호사 있으세요?</h3>
      <p class="ls-p1">
        안녕하세요.<br>
        헬프미 법률사무소 대표 박효연 변호사입니다.
        <span class="mt"></span>
        “왜 로펌을 그만두고 헬프미를 만들었나요?”라는 질문을 하루에도 수 차례씩 받곤 합니다.
        <span class="mt"></span>
        로펌에서 일하면서 저는 ‘아는 변호사가 있는 사람들’과<br>
        그렇지 않은 사람들 사이의 정보차이가 정말로 크다는 사실을 실감하였습니다.<br>
        그리고 이런차이가 브로커들이 살아갈 수 있는 환경이 된다는 사실도 알게 되었고요.<br>
        <span class="mt"></span>
        아는 변호사가 없는사람도 쉽게 실력있는 변호사를 만날 수 있는 곳, 그런 곳을 만들고 싶었습니다.
        <span class="mt"></span>
        “아는 변호사 있으세요?”라는 질문에 사람들이 “네. 헬프미에 있어요”라는 답하는 날까지<br>
        항상 초심으로 최선을 다하고자 합니다.
      </p>
      <h3>지급명령 헬프미는 어떤 서비스인가요?</h3>
      <p class="ls-p1">
        지급명령은 “내가 ㅇㅇㅇ이유로 상대방에게 받을 돈이 있다.” 는 내용의 신청서를  법원에 제출하면,<br>
        <em>법원이 상대방에게 “돈을 지급하라”는 내용의 명령을 내려주는 제도</em>입니다.<br>
        일반적으로 지급명령이 못 받은 돈을 받는데, 가장 저렴하고 효과적인 제도이기 때문에 많은 사람들이 이용하고 있습니다.<br>
        실제로 대법원 통계자료에 따르면 1년동안 법원에 접수되는 지급명령 신청은 1,388,525건이라고 합니다(2014년 기준).<br>
        <span class="mt"></span>
        하지만 많은 사람들은 못 받은 돈을 받으려면 어떤 것부터 시작할지 몰라서 어려움을 겪습니다.<br>
        인터넷에서 정보를 찾으면서 시간과 노력을 들이기도 하고,  잘못된 방법을 선택하기도 하고, 상대적으로 높은 수수료를 지급하기도 합니다.<br>
        <span class="mt"></span>
        헬프미 변호사들은 누구나 쉽게 못 받은 돈을 받을 수 있어야 한다고 생각했습니다.<br>
        그렇게 하려면 누구나 쉽게 가장 저렴하고 효과적인 제도인 지급명령을 이용할 수 있어야 한다고 생각했습니다.
      </p>
      <h3>헬프미에는 어떤 변호사들이 있나요?</h3>
      <div class="who-box">
        <div class="nth-1">
          <span class="lawyer-icon"></span>
          <h4>각 분야별<br>실력있는 변호사</h4>
          <p>헬프미에는 대형로펌 법무법인 율촌, 법무법인<br>
            태평양, 현대건설 등에서 다년간 경력을 쌓은<br>
            다양한 분야의변호사들이 있습니다.</p>
        </div>
        <div class="nth-2">
          <span class="lawyer-icon"></span>
          <h4>고객과의 소통을<br>중요하게 생각하는 변호사</h4>
          <p>헬프미에는 변호사들이 작성한 성공사례와<br>
            법률칼럼이 있습니다. 성공사례를 통해<br>
            변호사들이 어떤 사건을 수행했는지 직접<br>
            확인하실 수 있고, 법률칼럼을 통해 생활에<br>
            필요한 법률 상식을 얻으실 수 있습니다. </p>
        </div>
        <div class="nth-3">
          <span class="lawyer-icon"></span>
          <h4>내 일처럼<br>일하는 변호사</h4>
          <p>헬프미에서 상담 받은 고객들은<br>
            ‘헬프미에서는 어떤 변호사를 선택하더라도<br>
            실패하지 않는다’고 말씀하십니다.<br>
            헬프미에서 상담 받은 고객들이 작성한<br>
            후기들을 통해 직접 확인하실 수 있습니다. </p>
        </div>
      </div>
    </section>
    
    
    <!--푸터 영역-->
    <footer class="footer">
      <div class="footer-box clearfix center-block">
        <ul class="clearfix">
          <li><a href="#">면책공고</a></li>
          <li class="mlr"></li>
          <li><a href="#">이용약관</a></li>
          <li class="mlr"></li>
          <li><a href="#">개인정보취급방침</a></li>
        </ul>
        <div class="nth-1">지급명령<br/>헬프미</div>
        <div class="nth-2">
          <address>
            <p>서울특별시 강남구 테헤란로82길 15, 15층(대치동, 디아이타워) (주)헬프미</p>
            <p>대표이사: 박준수<span class="mlr"></span>사업자등록번호 : 220-88-97107</p>
            <p class="last">help@helpme.co.kr<span class="mlr"></span><small>copyright 2015 by helpme, all right reserved.</small></p>
          </address>
        </div>
        <div class="nth-3"><p class="c-yellow nth-1">지급명령<br/>고객센터</p><p class="c-white nth-2">02-6285-5601</p></div>
      </div>
    </footer>
  </div>
</body>

</html>