  
.com-pd {padding: 98px 10px 95px;}
.com-ft {text-align: center; font-size: 36px; font-family: "Noto Sans Kr";}
.com-box {margin: 0 auto; margin-top: 20px;}
.arr-icon {display: inline-block; position: relative; background: url(http://img.nurifunding.co.kr/nrm_icon.png) no-repeat;}
.br4 {border-radius: 4px;}

.main {width: 100%; height: 365px; background: url(http://img.nurifunding.co.kr/main_bg.jpg) no-repeat center top;}
.main-box {position: relative; width: 768px; height: 100%; margin: 0 auto; text-align: center; background: url(http://img.nurifunding.co.kr/main_img_t.png) no-repeat center bottom;}
.main-more-btn {position: absolute; width: 220px; height: 50px; top: 255px; left: 12px; color: #fff; font-size: 18px; padding-left: 6px;}
.yellow-r-icon {top: 5px; left: 6px; width: 12px; height: 18px;}

.rate {padding: 30px 0px;}
.rr-nth-1 {width: 17%;}
.rr-nth-2 {width: 28%;}
.rr-nth-3 {width: 28%;}
.rr-nth-4 {width: 27%;}
.r-f, .r-f2 {text-align: center; color: #fff; font-family: "NanumGothic"; letter-spacing: 0;}
.r-f {font-size: 20px;}
.r-f2 {font-size: 24px; margin-top: 12px; font-weight: 500;}

.benefit {background: #09345F; font-family: "NanumGothic";}
.benefit div[class*="bd"] {padding: 40px 0px; height: 174px;}
.bd-nth-1 {background: #134aa4;}
.bd-nth-2 {background: #f5f5f5;}
.bd-nth-3 {background: #202125;}
.bd-nth-4 {background: #2aa0ea;}

.benefit div[class*="bd"] .pl-nth-1 {width: 28%;}
.benefit div[class*="bd"] .pl-nth-2 {width: 72%;}
.benefit-icon {position: relative; display: block; left: 3px; margin: 0 auto; width: 79px; height: 74px; background: url(http://img.nurifunding.co.kr/benefit_icon.png) no-repeat;}
.bi-nth-1 {}
.bi-nth-2 {background-position: -150px;}
.bi-nth-3 {background-position: -300px; top: 4px;}
.bi-nth-4 {background-position: -450px; top: 4px;}
.bh3, .bh3-2 {font-size: 20px;}
.bd-nth-2 .bh3 {color: #101010;}
.bd-nth-4 .bh3 {margin-top: -3px;}
.bd-nth-4 .bh3-2 {margin-top: 3px;}
.bp {margin-top: 10px; font-size: 16px; line-height: 1.3em;}

.ingProduct {background: #f5f5f5;}
.ip-wrap {}
.ip-outer {padding: 0; margin-top: 30px;}
.ip-outer:nth-child(odd) {padding-right: 15px;}
.ip-outer:nth-child(even) {padding-left: 15px;}
.ip-box { margin: 0 auto; background: #fff; border: 1px solid #ddd;}
.thumb-box img {width: 100%;}
.iph3 {padding: 10px 25px; font-size: 24px;}
.ip-inner {padding: 0 25px; margin-top: -2px;}
.ip-inner li[class*=ipli] {line-height: 1.5em; font-size: 18px;}
 li[class*=ipli] .pull-right {font-weight: 600; }
.ipli-nth-5 {margin: 10px 0 3px; background: #dadada;}
.ip-per-bar {width: 80%; height: 7px; }
.ip-per-num {font-size: 16px; color: #777; margin-left: 2px;}
.ip-percent {position: relative; top: 0px; font-size: 20px; }
.ip-btn-box {text-align: center; margin: 15px 0 25px;}
.ip-btn {display: inline-block; width: 55%; color: #fff; line-height: 2.8em; font-size: 18px; letter-spacing: 0;}
.ip-more-outer {margin: 50px auto 0;}
.ip-more-box {text-align: center;}
.ip-more-btn {display: inline-block; width: 40%; border: 1px solid #202020; line-height: 2.8em; font-size: 20px;}
.black-r-icon {width: 10px; height: 16px; background-position: -50px 0; left: 8px; top: 1px;}

.faq {background: url(http://img.nurifunding.co.kr/faq_bg.jpg) no-repeat center top; background-size: cover;}
.fq-outer {margin-top: 30px;}
.fq-box {padding: 20px 15px; background: #fff;}
.fqh3, .fq-a {position: relative; padding-left: 40px;}
.fqh3 {padding-bottom: 15px; border-bottom: 1px solid #e5e5e5; font-size: 18px; line-height: 1.2em; letter-spacing: 0;}
.fq-a {padding-top: 13px; font-size: 16px; line-height: 1.3em;}
.q-icon, .a-icon {position: absolute; top: 0; left: 0; width: 30px; height: 33px;}
.q-icon {background-position: -100px; top: 4px;}
.a-icon {background-position: -150px; top: 18px;}
.fq-btn-outer {margin: 50px auto 0px;}
.fq-btn-box {text-align: center;}
.fq-btn {display: inline-block; width: 40%; border:1px solid #202020; line-height: 2.8em; font-size: 20px;}


.main {width: 100%; height: 487px; background: url(http://img.nurifunding.co.kr/main_bg.jpg) no-repeat center top;}
.main-box {position: relative; width: 1024px; height: 100%; margin: 0 auto; text-align: center; background: url(http://img.nurifunding.co.kr/main_img.png) no-repeat center bottom;}
.main-more-btn {position: absolute; width: 220px; height: 50px; top: 335px; left: 16px; color: #fff; font-size: 18px; padding-left: 6px;}
.yellow-r-icon {top: 5px; left: 6px; width: 12px; height: 18px;}

/* ie9 선택자 안먹는 오류 수정 */
.ip-outer {padding: 10px;}