/* 네비게이션영역 */
.top-wrap {width: 100%;}
.top-box {position: relative; width: 1100px; height: 83px;}
.top-box h2 {position: absolute; left: 13px; top: 31px;}
.top-box h2 a {font-size: 21px; font-weight: 500; color: #4c4c4c;}
.top-box nav {position: absolute; right: 0;}
.tb-nav {position: relative; top: 14.5px;}
.tb-nav li {display: inline-block; margin-left: 40px;}
.tb-nav li:first-child {margin-left: 0;}
.tb-nav li a {font-size: 18px; font-weight: 600; letter-spacing: 0;}
.tb-nav li.btn-wrap {margin-left: 50px;}
.tb-nav li.btn-wrap a {display: block; width: 200px; height: 53px; line-height: 2.5em; font-size: 20px; font-weight: 500;}

section[class*="-sec"] h2 {font-size: 42px; font-weight: 500; text-align: center; padding-top: 67px;}
section[class*="-sec"] div[class*="-box"] {position: relative; width: 1100px; margin: 0 auto;}


.main-sec {width: 100%; height: 439px; background: url(../img/pay_main.jpg) no-repeat center;}
.ms-box {height: 439px;}
.msb-money {position: absolute; left: 13px; top: 90px;}
.msb-money p {font-size: 50px; font-weight: 300;}
.msb-money p.nth-1 {}
.msb-money p.nth-2 {font-weight: 700; margin-top: 17px;}
.msb-money p.nth-3 {font-size: 24px; margin-top: 31px;}
.msb-money p.nth-3 span {font-style: italic;}
.msb-money p.nth-4 {font-weight: 500; font-size: 30px; padding: 15px 67px; display: inline-block; border: 1px solid #ffb411; margin-top: 48px; height: 62px; }
.msb-justice {position: absolute; right: 0; bottom: 0; width: 354px; height: 157px; background: url(../img/yellow_rgba50.png) repeat; padding-left: 46px;}
.msb-justice p.nth-1 {font-size: 30px; margin-top: 30px;}
.msb-justice p.nth-2 {font-size: 20px; font-weight: 300; line-height: 1.3em; margin-top: 16px; letter-spacing: -0.7px;}

.service-sec, .why-sec {background: #e6e6e6;}

.why-sec {width: 100%; height: 524px;}
.ws-box {text-align: center;}
.ws-box div {position: relative; display: inline-block; vertical-align: text-top; margin-top: 73px; margin-left: 120px; left: -20px}
.ws-box div.nth-1:before, .ws-box div.nth-2:before, .ws-box div.nth-3:before {position: relative; content: ""; display: block; margin: 0 auto; margin-bottom: 37px; height: 100px; background: url(../img/po_main_icon.png) no-repeat 0px 0px;}
.ws-box div.nth-1:before {background-position: 0px 0px; width: 63px;}
.ws-box div.nth-2:before {background-position: -150px 0px; width: 111px;}
.ws-box div.nth-3:before {background-position: -300px 0px; width: 85px;}
.ws-box div.nth-1 {margin-left: 0px;}
.ws-box div h3 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.ws-box div p {font-size: 20px; line-height: 1.3em;}

.progress-sec {height: 594px;}
.pb-inner {height: 366px; background: url(../img/ps_bg.png) no-repeat; margin-top: 80px;} 
.pb-inner ul.nth-1 {position: relative; top: 60px;}
.pb-inner ul.nth-1 li {position: relative; display: inline-block; vertical-align: text-top; text-align: center;}
.pb-inner ul.nth-1 li.nth-1 {left: 475px;}
.pb-inner ul.nth-1 li.nth-2 {left: 600px;}
.pb-inner ul.nth-1 li h3 {font-size: 19px; line-height: 1.2em; font-weight: 500;}
.pb-inner ul.nth-1 li p {color: #4c4c4c; line-height: 1.4em; margin-top: 5px;}
.pb-inner ul.nth-2 {position: relative; top: 112px;}
.pb-inner ul.nth-2 li {position: relative; display: inline-block; vertical-align: text-top; text-align: center;}
.pb-inner ul.nth-2 li h3 {font-size: 22px; font-weight: 500; margin-bottom: 13px;}
.pb-inner ul.nth-2 li strong {display: block; font-size: 50px; color: #ffb411; margin-bottom: 15px;}
.pb-inner ul.nth-2 li p {}
.pb-inner ul.nth-2 li.nth-1 {left: 67px;}
.pb-inner ul.nth-2 li.nth-2 {left: 178px;}
.pb-inner ul.nth-2 li.nth-3 {left: 286px;}
.pb-inner ul.nth-2 li.nth-4 {left: 403px;}

.service-sec {height: 850px;}
section[class*="service-sec"] div[class*="sb-box"] {width: 814px; height: 466px; margin-top: 65px; margin-bottom: 60px;}
.sb-inner {}
.sb-inner .con {position: relative; display: inline-block; vertical-align: text-top; width: 374px; height: 383px; background: #fff; margin-top: 83px;}
.sb-inner .con .tit {position: relative; width: 301px; height: 218px; text-align: center; background: #fff; border: 5px solid #ffb411; top: -82px;}
.sb-inner .con .tit h3 {font-size: 26px; line-height: 1.3em; margin-top: 30px;}
.sb-inner .con .tit h3 em {display: block;}
.sb-inner .con .tit .mtb {width: 40px; height: 3px; margin-top: 15px; margin-bottom: 15px;}
.sb-inner .con .tit .sit-p1 {font-size: 20px; line-height: 1.2em;}
.sb-inner .con .txt {position: relative; width: 301px; margin-top: -60px;}
.sb-inner .con .sic-p1:before {position: absolute; left: 0; top: 0px; content: "·"; display: inline-block; font-size: 28px;}
.sb-inner .con .sic-p1 {position: relative; padding-left: 15px; line-height: 1.3em; margin-top: 5px;}
.sb-inner .con .sic-u1 {margin-top: 18px; padding-top: 16px; border-top: 1px solid #d4d4d4;}
.sb-inner .con .sic-u1 li {position: relative; margin-top: 7px;}
.sb-inner .con .sic-u1 li.nth-0 {margin-top: -3px;}
.sb-inner .con.nth-1 .sic-u1 li.nth-1 {margin-top: 10px;}
.sb-inner .con .sic-u1 li span {display: inline-block;}
.sb-inner .con .sic-u1 li.nth-0 span, .sb-inner .con .sic-u1 li.nth-1 span {font-size: 18px;}
.sb-inner .con .sic-u1 li.nth-0 span {color: #777;}
.sb-inner .con .sic-u1 li.nth-2 span {font-size: 20px;}
.sb-inner .con .sic-u1 li .s1 {width: 138px;}
.sb-inner .con .sic-u1 li .s2 {margin-left: 12px; font-family: Verdana, "Nanum Gothic";}
.sb-inner .con .sic-u1 li.nth-0 .s1, .sb-inner .con .sic-u1 li.nth-1 .s1 {font-weight: 500;}
.sb-inner .con .sic-u1 li.nth-2 .s1 {font-weight: 600;}
.sb-inner .con .sic-u1 li.nth-0 .s2, .sb-inner .con .sic-u1 li.nth-1 .s2 {font-weight: 600; font-size: 21px;}
.sb-inner .con .sic-u1 li.nth-2 .s2 {font-weight: 700; font-size: 23px;}

.sb-inner .con.nth-2 {margin-left: 63px;}

.sb-box .btn-wrap {margin-top: 60px;}
.sb-box .btn-wrap .btn {width: 407px; height: 65px; font-size: 28px; line-height: 2.25em; font-weight: 500;}

.cheap-sec {height: 544px; background: url(../img/cheap_bg.jpg)no-repeat center;}
.cheap-sec h2 {color: #fff; margin-bottom: 18px;}
.cs-p1 {font-size: 30px; font-weight: 300; margin-bottom: 65px;}
.cs-box {padding-left: 140px; }
.cb-u1 {position: relative; margin-bottom: 70px;}
.cb-u1 li, .cb-u2 li {color: #fff; display: inline-block; vertical-align: middle;}
.cb-u1 .cb-l1, .cb-u2 .cb-l1 {text-align: center; font-size: 26px; margin-right: 36px;}
.cb-u1 .cb-l1 span, .cb-u2 .cb-l1 span {display: block; font-size: 20px; margin-top: 5px; font-weight: 300;}
.cb-u1 .cb-l2 {width: 73px; height: 73px; background: url(../img/po_main_icon.png)no-repeat 0px -110px; margin-left: 10px;}
.cb-u1 .cb-l3 {margin-left: 30px; font-size: 32px;}
.cb-u2 li {display: inline-block; color: #ffb411;}
.cb-u2 .cb-l2 {width: 73px; height: 73px; background: url(../img/po_main_icon.png)no-repeat -150px -110px; margin-left: 10px;}
.cb-u2 .cb-l3 {margin-left: 26px; font-size: 38px; font-weight: 600;}
.cb-u2 .cb-l4 {margin-left: 26px; width: 132px; height: 92px; background: url(../img/po_main_icon.png)no-repeat -300px -110px;}
