<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="../../../src/css/common.css">
  <link rel="stylesheet" href="../../../src/css/registration/cheap/cheap.css"> 
  
  <script src="../../../src/js/jquery-1.10.2.min.js"></script>
  <script src="../../../src/js/common.js"></script>
   
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <!-- 헤더 영역 -->
    <header class="header">
      <div class="header-box center-block">
        <ul class="hb-tab clearfix">
          <li class=""><a href="./index_01.html">지급명령</a></li>
          <li class="on"><a href="./index_02.html">법인등기</a></li>
        </ul>
        <ul class="hb-user clearfix">
          <li><a href="#">로그인</a></li>
          <li class="mlr"></li>
          <li><a href="#">회원가입</a></li>
          <li class="mlr"></li>
          <li><a href="#">마이페이지</a></li>
        </ul>
      </div>
    </header>
    
    
    <!--지급명령 시작-->
    <!--네비게이션 영역-->
    <div class="top-wrap">
      <div class="top-box center-block">
        <h2><a href="./index.html">법인등기 헬프미</a></h2>
        <nav>
          <ul class="tb-nav clearfix">
            <li class="on"><a href="">왜 이렇게 저렴한가요?</a></li>
            <li class=""><a href="">절차안내</a></li>
            <li class=""><a href="">이용요금</a></li>
            <li><a href="">이용후기</a></li>
            <li><a href="">변호사 소개</a></li>
            <li class="btn-wrap"><a class="align-center" href="">법인등기 신청하기</a></li>
          </ul>
        </nav>
      </div>
    </div>
    
    
    <section class="main-sec">
      <h2 class="c-white"><em class="c-yellow">공과금 부풀리기</em>, 들어보셨나요?</h2>
      <div class="ms-box"><p class="nth-1 c-white">
          일부 업체에서는 수수료로 책정된 돈 외에도 교통비, 일당, 제증명, 인감, 등본, 정관제작비, <br>
          회의록 제작비 등의 명목으로 2~15만원을 추가하여 공과금 항목에 포함시킵니다. <br>
          따라서 견적을 알아보실 때는 수수료의 금액만이 아니라 공과금 항목까지 꼼꼼하게 체크하셔야 합니다.
          <em>법인등기 헬프미는 공과금 부풀리기 없이 기본 수수료만을 청구하고 있습니다.</em>
        </p>
      </div>
    </section>
    
    <section class="dues-sec">
      <h2>
        수수료만 보고 ㅇㅇ법무사가 더 저렴하다고 생각하셨나요?
        <em>부풀려진 공과금을 확인해보세요<i>!</i></em>
      </h2>
      <ul class="ds-u1 clearfix">
        <li class="ds-l1-1">
          <h3>ㅇㅇ법무사 공과금</h3>
          <div class="hl-box">
            <p class="dsh-p1"><span class="nth-1">교통비</span><span class="nth-2">30,000원</span></p>
            <p class="dsh-p1"><span class="nth-1">제증명/인감/등본</span><span class="nth-2">20,000원</span></p>
          </div>
          <p class="ds-p1"><span class="nth-1">등록세</span><span class="nth-2">112,500원</span></p>
          <p class="ds-p1"><span class="nth-1">교육세</span><span class="nth-2">22,500원</span></p>
          <p class="ds-p1"><span class="nth-1">증지대(일반등기)</span><span class="nth-2">6,000원</span></p>
          <p class="ds-p1-2"><span class="nth-1">소계</span><span class="nth-2">191,000원</span></p>
        </li>
        <li class="ds-l1-2">
          <h3>ㅇㅇ법무사 공과금</h3>
          <div class="hl-box">
            <p class="dsh-p1"><span class="nth-1">교통비</span><span class="nth-2">없음</span></p>
            <p class="dsh-p1"><span class="nth-1">제증명/인감/등본</span><span class="nth-2">없음</span></p>
          </div>
          <p class="ds-p1"><span class="nth-1">등록세</span><span class="nth-2">112,500원</span></p>
          <p class="ds-p1"><span class="nth-1">교육세</span><span class="nth-2">22,500원</span></p>
          <p class="ds-p1"><span class="nth-1">증지대(일반등기)</span><span class="nth-2">6,000원</span></p>
          <p class="ds-p1-2"><span class="nth-1">소계</span><span class="nth-2">137,000원</span></p>
        </li>
        <li class="ds-l0-1"><p>부풀려진<br>공과금</p></li>
        <li class="ds-l0-2"><p>실제<br>공과금</p></li>
      </ul>
      <p class="ds-ps">예시 - 주소이전등기 공과금 견적 비교</p>
    </section>
    
    <section class="step-sec">
      <h2>각종 서류 준비로 여기저기 오가느라 힘드셧죠?<em>이제 <span class="c-yellow">사무실에서 끝</span>내세요<i>!</i></em></h2>
      <ul class="sps-u1">
        <li class="sps-l1"><h3>ㅇㅇ법무사의<br>법인등기 절차</h3></li>
        <li class="sps-l2-1">
          <p class="nth-1"></p>
          <p class="nth-2">오프라인<br>등기신청</p>
        </li>
        <!--p.nth-$*2-->
        <li class="sps-l2-2">
          <p class="nth-1"></p>
          <p class="nth-2">법무사 사무실<br>방문 후 상담</p>
        </li>
        <li class="sps-l2-3">
          <p class="nth-1"></p>
          <p class="nth-2">인감증명서<br>발급</p>
        </li>
        <li class="sps-l2-4">
          <p class="nth-1"></p>
          <p class="nth-2">인감도장<br>찍기</p>
        </li>
        <li class="sps-l2-5">
          <p class="nth-1"></p>
          <p class="nth-2">오프라인 서류<br>접수를 기다림</p>
        </li>
        <li class="sps-l2-6">
          <p class="nth-1"></p>
          <p class="nth-2">등기완료</p>
        </li>
      </ul>
      <ul class="sps-u2">
        <li class="sps-l1"><h3>헬프미의 절차</h3></li>
        <li class="sps-l2-1">
          <p class="nth-1"></p>
          <p class="nth-2">온라인<br>등기신청</p>
        </li>
        <li class="sps-l2-2">
          <p class="nth-1"></p>
          <p class="nth-2">법무사 사무실<br>방문 후 상담</p>
        </li>
        <li class="sps-l2-3">
          <p class="nth-1"></p>
          <p class="nth-2">인감증명서<br>발급</p>
        </li>
        <li class="sps-l3">
          <p class="nth-1">
            인감증명서 대신 <em>전자증명서</em>로, <br>
            임감도장 대신 <em>공인인증서</em>로 <br>
            사무실에서 편하게 법인등기를 신청하세요<i>!</i>
          </p>
          <p class="nth-2">
            회사규모와 자본금, 이사 수에 따라<br>
            전자등기가 불가능할 수 있습니다.
          </p>
        </li>
      </ul>
    </section>
    
    
    <!--공통-->
    <section class="solution2-sec">
      <h2>법인등기, 이제 간편하게 해결하세요</h2>
      <div class="snc2-box">
        <p class="snc2b-p1">헬프미에게 맡기면 걱정 끝<i>!</i> <br>꼼꼼한 진행 상황 알림은 기본, 과태료 예방까지</p>
        <p class="snc2b-p2">헬프미 변호사에서 지금 시작하세요<i>!</i></p>
        <p class="snc2b-p3"><a href="" class="btn bg-white align-center">법인등기 신청하기</a></p>
      </div>
    </section>
    
    
    <!--푸터 영역-->
    <footer class="footer">
      <div class="footer-box clearfix center-block">
        <ul class="clearfix">
          <li><a href="#">면책공고</a></li>
          <li class="mlr"></li>
          <li><a href="#">이용약관</a></li>
          <li class="mlr"></li>
          <li><a href="#">개인정보취급방침</a></li>
        </ul>
        <div class="nth-1">지급명령<br/>헬프미</div>
        <div class="nth-2">
          <address>
            <p>서울특별시 강남구 테헤란로82길 15, 15층(대치동, 디아이타워) (주)헬프미</p>
            <p>대표이사: 박준수<span class="mlr"></span>사업자등록번호 : 220-88-97107</p>
            <p class="last">help@helpme.co.kr<span class="mlr"></span><small>copyright 2015 by helpme, all right reserved.</small></p>
          </address>
        </div>
        <div class="nth-3"><p class="c-yellow nth-1">지급명령<br/>고객센터</p><p class="c-white nth-2">02-6285-5601</p></div>
      </div>
    </footer>
  </div>
</body>

</html>