@charset "utf-8";

/* 버튼 */
.btn {display:inline-block; color:#fff; text-align:center; vertical-align:middle;}
.btn.btn_type01 {width:354px; height:67px; background-color:#ffb412; font-weight:bold; font-size:30px; line-height:67px;}
.btn.btn_type02 {height:32px; padding:0 20px; background-color:#ffb412; font-size:16px; line-height:32px;}
.btn.btn_type03 {height:32px; padding:0 20px; background-color:#4d4d4d; font-size:16px; line-height:32px;}
.btn.btn_type04 {width:76px; height:22px; border:1px solid #bfbfbf; color:#686868; line-height:18px;}
.btn.btn_type05 {width:238px; height:43px; background-color:#141414; font-size:20px; line-height:43px;}
.btn.btn_type06 {width:314px; height:56px; background-color:#ffb412; font-weight:bold; font-size:24px; line-height:56px;}
.btn span {position:relative;}
.btn.btn_type06.ico_find span:before {content:''; display:block; position:absolute; right:-46px; top:50%; width:35px; height:35px; margin-top:-18px; background:url('../img/ico_find.png') no-repeat 0 0;}

/* 로그인 */
.login {width:516px; padding:60px 80px; border:1px solid #bfbfbf;}
.customer {margin-top:10px; font-size:0; text-align:center;}
.customer li {display:inline-block; position:relative; margin-left:14px; padding-left:13px;}
.customer li:first-child {margin-left:0; padding-left:0;}
.customer li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#bfbfbf;}
.customer li:first-child:before {display:none;}
.customer li a {color:#808080; font-size:14px;}
.customer li a.member {color:#000;}

/* 회원가입 */
.join {width:830px; padding:15px 100px; border-top:1px solid #bfbfbf; border-bottom:1px solid #bfbfbf;}

/* 마이페이지 */
.mypage {width:1100px;}
.mypage .s_tit {margin:50px 0 12px; color:#010101; font-size:30px; font-weight: 500;}
.mypage .s_tit:first-child {margin-top:0;}
.mypage .info {padding:20px 40px; border:1px solid #d2d2d2;}
.mypage .buy_list {position:relative; padding-top:54px;}
.mypage .buy_list h5 {position:absolute; top:0; width:154px; height:55px; border-top:1px solid #d2d2d2; border-left:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; background-color:#ebebeb; color:#525252; font-size:18px; text-align:center; line-height:55px; cursor:pointer;}
.mypage .buy_list h5.menu01 {left:0;}
.mypage .buy_list h5.menu02 {left:154px; border-right:1px solid #d2d2d2;}
.mypage .buy_list h5.on {border-bottom:1px solid #fff; background-color:#fff; color:#e9a105;}
.mypage .buy_list .cont {display:none; padding:20px 30px 30px; border:1px solid #d2d2d2;}
.mypage .buy_list .cont.on {display:block;}

/*페이지네이션*/
.buy_list .pagenation {position: relative; text-align: center; width: 100%; margin-top: 30px;}
.buy_list .pagenation a {display: inline-block; font-size: 13px; width: 32px; height: 32px; vertical-align: middle; line-height: 2.3em; border: 1px solid #ccc; color: #919191; font-family: "Nanum Gothic"; font-weight: 600;}
.buy_list .pagenation a[class*="prev"], .buy_list .pagenation a[class*="next"] {font-size: 12px; line-height: 2.5em; letter-spacing: -2px;}
.buy_list .pagenation a:hover, .buy_list .pagenation a.on {border: 1px solid #000; color: #000;}
.buy_list .pagenation a.prev {text-indent: -4px;}
.buy_list .pagenation a.pprev {text-indent: -3px;}
.buy_list .pagenation a.next {text-indent: 1px;}

/* 아이디 비밀번호 찾기 */
.find {position:relative; width:830px; margin-top:50px; padding-top:44px; border:1px solid #bfbfbf; text-align:center;}
.find h4 {position:absolute; top:0; width:414px; height:44px; border-left:1px solid #bfbfbf; border-bottom:1px solid #bfbfbf; background-color:#eaeaea; color:#525252; font-size:20px; line-height:44px; cursor:pointer;}
.find h4.find_id {left:0; border-left:0;}
.find h4.find_pw {left:414px;}
.find h4.on {border-bottom:1px solid #fff; background-color:#fff; color:#010101;}
.find .cont {display:none; padding:85px 0 65px;}
.find .cont .input_form form fieldset div {font-size:inherit;}
.find .cont.on {display:block;}
.find .cont .result_txt01 {margin-bottom:10px; color:#010101; font-size:22px;}
.find .cont .result_txt02 {margin-bottom:15px; color:#464646; line-height:1.4;}
.find .cont .result_form {width:410px; height:88px; border:1px solid #d2d2d2; background-color:#f0f0f0; color:#464646; font-size:20px; text-align:center;}