<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>누리헬프</title>
  <!--<link rel="canonical" href="도메인">-->
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="../src/css/jquery.bxslider.css">
  <link rel="stylesheet" href="../src/css/override.css">
  <link rel="stylesheet" href="../src/css/common.css">
  <link rel="stylesheet" href="../src/css/index.css"> 
  
  <script src="../src/js/jquery-1.10.2.min.js"></script>
  <script src="../src/js/jquery.bxslider.min.js"></script>
  <script src="../src/js/index.js"></script>
   
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <h1 class="skip">헬프미</h1>
  <div class="wrap">
    <!-- 헤더 영역 -->
    <header class="header">
      <div class="header-box center-block">
        <ul class="hb-tab clearfix">
          <li class="on"><a href="./index_01.html">지급명령</a></li>
          <li><a href="./index_02.html">법인등기</a></li>
        </ul>
        <ul class="hb-user clearfix">
          <li><a href="#">로그인</a></li>
          <li class="mlr"></li>
          <li><a href="#">회원가입</a></li>
          <li class="mlr"></li>
          <li><a href="#">마이페이지</a></li>
        </ul>
      </div>
    </header>
    
    
    <!--지급명령 시작-->
    <!--네비게이션 영역-->
    <div class="top-wrap">
      <div class="top-box center-block">
        <h2><a href="./index.html">지급명령 헬프미</a></h2>
        <nav>
          <ul class="tb-nav clearfix">
            <li><a href="">이용요금</a></li>
            <li><a href="">변호사 소개</a></li>
            <li class="btn-wrap"><a class="align-center" href="">지급명령 신청하기</a></li>
          </ul>
        </nav>
      </div>
    </div>
    
    <section class="main-sec">
      <div class="ms-box">
        <div class="msb-money">
          <p class="nth-1 c-white">못 받은 돈</p>
          <p class="nth-2 c-yellow">확실하게 받으세요</p>
          <p class="nth-3 c-white">지급명령, 지금 시작하세요<span>!</span></p>
          <p class="nth-4"><a class="align-center c-yellow" href="">신청하기</a></p>
        </div>
        <div class="msb-justice">
          <p class="nth-1 c-white">지급명령이란?</p>
          <p class="nth-2 c-white">강제집행을 할 수 있는 강력한 권리<br/>법원에 신청하고 1~2달이면 끝!</p>
        </div>
      </div>  
    </section>
    
    <section class="why-sec">
      <h2>왜 헬프미에서 해야할까요?</h2>
      <div class="ws-box center-block">
        <div class="nth-1">
          <h3>신속하고 간편한 절차</h3>
          <p class="c-gray2">시중가의 1/5가격으로<br/>온라인으로 신청만 하면<br/>작성과 제출까지 한번에!</p>
        </div>
        <div class="nth-2">
          <h3>믿을 수 있는 변호사</h3>
          <p class="c-gray2">변호사 이름으로 제출하여<br/>채무자를 심리적으로 압박!</p>
        </div>
        <div class="nth-3">
          <h3>돈 받을 때까지</h3>
          <p class="c-gray2">지급명령 신청 이후 절차도<br/>헬프미에서 한번에!</p>
        </div>
      </div>
    </section>
    
    <section class="progress-sec">
      <h2>지급명령 헬프미 <em>어떻게 진행</em>되나요?</h2>
      <div class="ps-box">
        <div class="pb-inner">
          <ul class="nth-1">
            <li class="nth-1">
              <h3>이의신청을 받은 경우<br>더 알아보기</h3>
              <p class="c-gray2">조정 절차/민사소송 진행<br>헬프미 변호사와 연결</p>
            </li>
            <li class="nth-2">
              <h3>돈을 받지 못했다면<br>더 알아보기</h3>
              <p class="c-gray2">강제집행 진행<br>제휴사 연결</p>
            </li>
          </ul>
          <ul class="nth-2">
            <li class="nth-1">
              <h3><strong>01</strong><span>지급명령 신청</span></h3>
              <p class="c-gray2">적합성 테스트 진행 후<br/>지급명령 신청</p>
            </li>
            <li class="nth-2">
              <h3><strong>02</strong><span>헬프미가 신청서 작성</span></h3>
              <p class="c-gray2">헬프미 변호사가 지급명령<br/>신청서를 작성하여 법원에 제출</p>
            </li>
            <li class="nth-3">
              <h3><strong>03</strong><span>법원의 지급명령<br/>결정문 확보</span></h3>
            </li>
            <li class="nth-4">
              <h3><strong>04</strong><span>상대방에게 돈을 받음</span></h3>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <section class="service-sec">
      <h2>지급명령 헬프미는 <em>어떤 서비스를 제공하나요?</em></h2>
      <div class="sb-box">
        <div class="sb-inner center-block">
         
          <div class="con nth-1">
            <div class="tit center-block">
              <h3>제출 후 관리까지<em>베이직 서비스</em></h3>
              <p class="mtb bg-yellow center-block"></p>
              <p class="sit-p1">대면 상담 없이 신청서 작성<br>신청서 제출 및 법원절차 처리</p>
            </div>
          
            <div class="txt center-block">
              <p class="sic-p1">법원절차를 모두 맡기기 때문에 편리합니다.</p>
              <p class="sic-p1">변호사 이름으로 서류를 제출하기 때문에<br>상대방을 압박하는 효과가 있습니다.</p>
              <p class="sic-p1 f-semibold">출시기념 3만원 할인헤택</p>
              <ul class="sic-u1">
                <li class="nth-1">
                  <span class="align-right s1">헬프미 정상가</span>
                  <span class="align-left s2">199,000<span>원</span></span>
                </li>
                <li class="nth-2">
                  <span class="align-right c-red s1">오픈특가</span>
                  <span class="align-left c-red s2">169,000<span>원</span></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="con nth-2">
            <div class="tit center-block">
              <h3>변호사 상담이 포홤된<em>프리미엄 서비스</em></h3>
              <p class="mtb bg-yellow center-block"></p>
              <p class="sit-p1">변호사와 40분 상담<br>신청서 제출 및 법원절차 처리</p>
            </div>

            <div class="txt center-block">
              <p class="sic-p1">변호사와 직접 상담할 수 있습니다.</p>
              <p class="sic-p1">변호사 이름으로 서류를 제출하기 때문에<br>상대방을 압박하는 효과가 있습니다.</p>
              <p class="sic-p1 f-semibold">출시기념 10만원 할인헤택</p>
              <ul class="sic-u1">
                <li class="nth-0">
                  <span class="align-right s1">시중가격</span>
                  <span class="align-left s2">1,100,000<span>원</span></span>
                </li>
                <li class="nth-1">
                  <span class="align-right s1">헬프미 정상가</span>
                  <span class="align-left s2">199,000<span>원</span></span>
                </li>
                <li class="nth-2">
                  <span class="align-right c-red s1">오픈특가</span>
                  <span class="align-left c-red s2">169,000<span>원</span></span>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
        
        <p class="btn-wrap"><a href="" class="btn align-center c-white center-block bg-yellow">지급명령 신청하기</a></p>
      </div>
    </section>
    
    <section class="cheap-sec">
      <h2>지급명령 헬프미는 <em>얼마나저렴할까요?</em></h2>
      <p class="cs-p1 c-white align-center">오픈기념 최대 33% 할인혜택<i>!</i></p>
      <div class="cs-box">
        <ul class="cb-u1">
          <li class="cb-l1">일반적 비용<span>(변호사 기준)</span></li>
          <li class="cb-l2"></li>
          <li class="cb-l2"></li>
          <li class="cb-l2"></li>
          <li class="cb-l2"></li>
          <li class="cb-l2"></li>
          <li class="cb-l2"></li>
          <li class="cb-l3">100~200만원</li>
        </ul>
        <ul class="cb-u2">
          <li class="cb-l1">헬프미<span>(베이직 서비스)</span></li>
          <li class="cb-l2"></li>
          <li class="cb-l3">169,000원</li>
          <li class="cb-l4"></li>
        </ul>
      </div>
    </section>
    
    <section class="review-sec">
      <h2>헬프미를 통해 <em>돈을 돌려받으신 분들의 후기</em></h2>
      <div class="rs-box">
        <ul class="rb-u1" id="review-slider">
          <li class="post">
            <h4>대여금 못받으신 박OO 고객님</h4>
            <p class="mtb"></p>
            <p class="txt">
              남에게 싫은 소리 잘 못하는 저로서는 빌려준 돈을 다시 받기란 너무 힘든 일이었습니다. 더는 이러면 안 되겠다 싶어 떼인 돈 찾아주는 곳에 의뢰를 할까 알아보기도 했고 변호사 선임도 생각을 해보았지만 만만치 않은 비용 때문에 고민스러웠습니다. <br><br>
              그때 헬프미를 알게 되어 사전예약 신청을 하고 저렴한 가격에 직접 접수까지 해주어 너무 편하게 일처리 되었어요. <br><br>
              법적인 지식이 전혀 없기 때문에 단어적으로나 대화를 할 때 어렵지 않을까 걱정했는데 변호사님께서 친절하게 단어도 풀어서 쉽게 설명해주시고 처리 결과도 꼼꼼히 챙겨서 연락 주시니 이보다 더 믿음 가는 곳이 있을까 싶습니다. 
            </p>
          </li>
          <li class="post">
            <h4>대여금 못받으신 박OO 고객님</h4>
            <p class="mtb"></p>
            <p class="txt">
              저처럼 시간이 없는 분들에겐 더욱 필요한 곳인 것 같아요. <br>
              간단하게 사건 내용만 알려주면 신청서를 써 주시고 진행 상황을 실시간으로 알려주셔서 특별히 신경 쓸 일이 없었습니다. <br><br>
              처음엔 카톡으로만 진행되어 약간의 불신이 들 수도 있으나 그건 잠시뿐이고 진행이 되면 중요한 사항에 대해서는 직접 전화 주셔서 친절하게 상담까지 해주십니다. 더욱 안심이 되더군요. 가격도 부담이 안되는 저렴한 금액이라 누구나 편하게 이용할 수 있을 거라 확신합니다. 부담 없는 비용, 깔끔한 진행 거기에 친절한 상담까지 이용해보시면 많은 분들이 만족할 수 있을 것 같아요.
            </p>
          </li>
          <li class="post">
            <h4>대여금 못받으신 박OO 고객님</h4>
            <p class="mtb"></p>
            <p class="txt">
              남에게 싫은 소리 잘 못하는 저로서는 빌려준 돈을 다시 받기란 너무 힘든 일이었습니다. 더는 이러면 안 되겠다 싶어 떼인 돈 찾아주는 곳에 의뢰를 할까 알아보기도 했고 변호사 선임도 생각을 해보았지만 만만치 않은 비용 때문에 고민스러웠습니다. <br><br>
              그때 헬프미를 알게 되어 사전예약 신청을 하고 저렴한 가격에 직접 접수까지 해주어 너무 편하게 일처리 되었어요. <br><br>
              법적인 지식이 전혀 없기 때문에 단어적으로나 대화를 할 때 어렵지 않을까 걱정했는데 변호사님께서 친절하게 단어도 풀어서 쉽게 설명해주시고 처리 결과도 꼼꼼히 챙겨서 연락 주시니 이보다 더 믿음 가는 곳이 있을까 싶습니다. 
            </p>
          </li>
          <li class="post">
            <h4>대여금 못받으신 박OO 고객님</h4>
            <p class="mtb"></p>
            <p class="txt">
              저처럼 시간이 없는 분들에겐 더욱 필요한 곳인 것 같아요. <br>
              간단하게 사건 내용만 알려주면 신청서를 써 주시고 진행 상황을 실시간으로 알려주셔서 특별히 신경 쓸 일이 없었습니다. <br><br>
              처음엔 카톡으로만 진행되어 약간의 불신이 들 수도 있으나 그건 잠시뿐이고 진행이 되면 중요한 사항에 대해서는 직접 전화 주셔서 친절하게 상담까지 해주십니다. 더욱 안심이 되더군요. 가격도 부담이 안되는 저렴한 금액이라 누구나 편하게 이용할 수 있을 거라 확신합니다. 부담 없는 비용, 깔끔한 진행 거기에 친절한 상담까지 이용해보시면 많은 분들이 만족할 수 있을 것 같아요.
            </p>
          </li>
        </ul>
        
        <div class="rs-slide-btn">
          <p><span id="slider-prev"></span><span id="slider-next"></span></p>
        </div>
      </div>
    </section>
    
    
    <!--푸터 영역-->
    <footer class="footer">
      <div class="footer-box clearfix center-block">
        <ul class="clearfix">
          <li><a href="#">면책공고</a></li>
          <li class="mlr"></li>
          <li><a href="#">이용약관</a></li>
          <li class="mlr"></li>
          <li><a href="#">개인정보취급방침</a></li>
        </ul>
        <div class="nth-1">지급명령<br/>헬프미</div>
        <div class="nth-2">
          <address>
            <p>서울특별시 강남구 테헤란로82길 15, 15층(대치동, 디아이타워) (주)헬프미</p>
            <p>대표이사: 박준수<span class="mlr"></span>사업자등록번호 : 220-88-97107</p>
            <p class="last">help@helpme.co.kr<span class="mlr"></span><small>copyright 2015 by helpme, all right reserved.</small></p>
          </address>
        </div>
        <div class="nth-3"><p class="c-yellow nth-1">지급명령<br/>고객센터</p><p class="c-white nth-2">02-6285-5601</p></div>
      </div>
    </footer>
  </div>
</body>

</html>